.profileImg {
	border-radius: 25%;
	width: 300px;
	margin: auto;
}

.profileImageDiv {
	text-align: center;
}

.card {
	border: 1px solid black;
	margin: auto;
}

.socialNetwork a img {
	width: 80px;
	margin: 10px 5px 20px 5px;
}

.socialNetwork {
	text-align: center;
}

h2 {
	color: gold;
}

h1 {
	text-decoration: underline;
}

h1,
h2,
p,
footer,
header {
	margin: auto;
	text-align: center;
}

header,
footer {
	background-color: rgb(102, 212, 120);
}
